<div class="d-flex">
  <div>
    <div *ngFor="let value of values; let i = index" class="card" (mouseenter)="onMouseenter(i)"
      (mouseleave)="onMouseleave(i)">
      <div class="card-body">
        <div class="card-title">
          {{value.name}}
        </div>
        <div class="card-text">
          <div>
            {{value.street}}
          </div>
          <div>
            {{value.city}}, {{value.state}} {{value.postalCode}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <agm-map [fitBounds]="true" style="height: 800px; width: 100%;">
    <agm-marker *ngFor="let value of values; let i = index" [latitude]="value.latitude" [longitude]="value.longitude"
      [agmFitBounds]="true" [animation]="animations[i]"
      [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'" (markerClick)="onMarkerClick(infoWindow)">
      <agm-info-window #infoWindow>{{value.name}}</agm-info-window>
    </agm-marker>
  </agm-map>
</div>
